<html>
<head>
	<meta charset="UTF-8">
	<title>VeIzure</title><!-- Veljko+Ivana+Azure = VeIzure -->
	<script src="js/toast.js"></script>
</head>
<body>
	 <div id="webproj">
		<h1>Login Baticeeeee {{ title }}</h1>
		<label>Username: </label>
		<input name="username" type="text" v-model="selectedUser.username"/><br/>
		<label>Password: </label>
		<input name="password" type="text" v-model="selectedUser.password"/><br/>
<!-- 		<input type="checkbox" name="remember" />Remember me<br/> -->
		<button v-on:click="updateUser(selectedUser)">Login</button>

		<table class="users">
			<tr bgcolor="lightgrey">
				<th>Username</th>
				<th>Password</th>
			</tr>
			
			<tr v-for="s in users">
				<td>{{ s.username }}</td>
				<td>{{ s.password }}</td>
			</tr>
		</table>
	</div>
	
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/app.js"></script>
</body>
</html>