<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<title>VeIzure</title>
</head>
<body>
	<div id="webProj">
		<router-view></router-view>
	</div>
	
<!-- 	 <div id="webproj"> -->
<!-- 		<h1>{{ title }}</h1> -->
<!-- 		<label>Username: </label> -->
<!-- 		<input name="username" type="text" v-model="User.username"/><br/> -->
<!-- 		<label>Password: </label> -->
<!-- 		<input name="password" type="text" v-model="User.password"/><br/> -->
<!-- <!-- 		<input type="checkbox" name="remember" />Remember me<br/> --> 
<!-- 		<a v-bind:href="'rest/webproj/login/' + User.username +'/' + User.password"><button v-on:click="addUser(User)">Login</button></a> -->
		
<!-- 		<button-counter></button-counter> -->
<!-- 	</div> -->
	
	<script src="js/vue.js"></script>
	<script src="js/vue-router.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/toast.js"></script>
	<script src="app/app.js"></script>
	<script src="app/login.js"></script>
</body>
</html>