<!-- <html> -->
<!-- <head> -->
<!-- 	<meta charset="UTF-8"> -->
<!-- 	<title>VeIzure</title> -->
<!-- 	<script src="js/toast.js"></script> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	 <div id="webproj"> -->
<!-- 		<h1>{{ title }}</h1> -->
<!-- 		<label>Username: </label> -->
<!-- 		<input name="username" type="text" v-model="User.username"/><br/> -->
<!-- 		<label>Password: </label> -->
<!-- 		<input name="password" type="text" v-model="User.password"/><br/> -->
<!-- <!-- 		<input type="checkbox" name="remember" />Remember me<br/> --> 
<!-- 		<a v-bind:href="'rest/webproj/login/' + User.username +'/' + User.password"><button v-on:click="addUser(User)">Login</button></a> -->
		
<!-- 		<button-counter></button-counter> -->
<!-- 	</div> -->
	
<!-- 	<script src="js/vue.js"></script> -->
<!-- 	<script src="js/axios.js"></script> -->
<!-- 	<script src="app/app.js"></script> -->
<!-- 	<script src="app/nesto.js"></script> -->
<!-- </body> -->
<!-- </html> -->



<!-- var app = new Vue({  -->
<!--     el: '#webproj', -->
<!--     data: { -->
<!--         title: 'Login', -->
<!--         User: {}, -->
<!--         users: [], -->
<!--         name: 'rest/webproj/idemooo' -->
<!--     }, -->
<!-- //    template: ` -->
<!-- //        <div id="proba"> -->
<!-- //            <p>Idemo nis uspeli smo</p> -->
<!-- //        </div> -->
<!-- //    `, -->
<!--     methods: { -->
<!--         addUser: function(User){ -->
<!--         	this.users.push(User) -->
<!--         	this.name = User.username -->
<!--         } -->
<!--     } -->
<!-- }); -->




<!-- //data: { -->
<!-- //    title: 'Login', -->
<!-- //    User: {}, -->
<!-- //    users: [], -->
<!-- //    name: '', -->
<!-- //    function () { -->
<!-- //    	return { -->
<!-- //    		veljko: null -->
<!-- //    	} -->
<!-- //    } -->
<!-- //}, -->


<!-- //<h1>{{ title }}</h1> -->
<!-- //<label>Username: </label> -->
<!-- //<input name="username" type="text" v-model="User.username"/><br/> -->
<!-- //<label>Password: </label> -->
<!-- //<input name="password" type="text" v-model="User.password"/><br/> -->
<!-- //<!--	<input type="checkbox" name="remember" />Remember me<br/> --> -->
<!-- //<!--<a v-bind:href="'rest/webproj/login/' + User.username +'/' + User.password"><button v-on:click="addUser(User)">Login</button></a>-->
<!-- //<button v-on:click="'login/' + User.username +'/' + User.password" >Login</button> -->




<!-- 	 <div id="webproj"> -->
<!-- 		<h1>{{ title }}</h1> -->
<!-- 		<label>Username: </label> -->
<!-- 		<input name="username" type="text" v-model="User.username"/><br/> -->
<!-- 		<label>Password: </label> -->
<!-- 		<input name="password" type="text" v-model="User.password"/><br/> -->
<!-- <!-- 		<input type="checkbox" name="remember" />Remember me<br/> --> 
<!-- 		<a v-bind:href="'rest/webproj/login/' + User.username +'/' + User.password"><button v-on:click="addUser(User)">Login</button></a> -->
		
<!-- 		<button-counter></button-counter> -->
<!-- 	</div> -->



<!-- //var app = new Vue({  -->
<!-- //    el: '#webproj', -->
<!-- //    data: { -->
<!-- //        title: 'Login', -->
<!-- //        User: {}, -->
<!-- //        users: [], -->
<!-- //        name: 'rest/webproj/idemooo' -->
<!-- //    }, -->
<!-- ////    template: ` -->
<!-- ////        <div id="proba"> -->
<!-- ////            <p>Idemo nis uspeli smo</p> -->
<!-- ////        </div> -->
<!-- ////    `, -->
<!-- //    methods: { -->
<!-- //        addUser: function(User){ -->
<!-- //        	this.users.push(User) -->
<!-- //        	this.name = User.username -->
<!-- //        } -->
<!-- //    } -->
<!-- //}); -->
